.about{
    padding-bottom: 48px;

}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-info-picture{
    height: 300px;
}
.about-info{
    font-size: 24px;
}
.about-info-name{
    color: rgba(139, 62, 38, 0.763);
    font-size: 32px;
}
.info-other-content{
    font-size: 12px;
}
@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-info-picture{
        height: 220px;
    }
    .about-info{
        font-size: 20px;
    }
    .about-info-name{
        font-size: 26px;
    }
}